AndroidHttpCapture.iml
local.properties
.gradle/4.4/fileChanges/last-build.bin
.gradle/4.4/fileContent/fileContent.lock
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.idea/gradle.xml
.idea
